<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Covid-19</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="/static/base.css">

</head>

<body>
	<!-- <script src="/static/scripts.js"></script> -->
  <h1>Covid-19 Data for Northern Virginia</h1>

  <p>
    <img src="/nova/plt_nova" alt="Cumulative Cases" width=500 height=auto />
    <img src="/nova/plt_nova_casechange" alt="Daily Cases" width=500 height=auto />
    <img src="/nova/plt_nova_mavg" alt="7 days moving average for daily cases" width=500 height=auto />
    <img src="/nova/plt_nova_changedeath_view" alt="Daily deaths" width=500 height=auto />
  </p>

  <!--<p>{{ df | safe }}</p>-->

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>date</th>
        <th>County</th>
        <th>Confirmed Cases</th>
        <th>Deaths</th>
        <th>Daily Change</th>
        <th>Daily Change - Deaths</th>
      </tr>
    </thead>
    {% for row_nova in tbl_nova %}
    <tr>
      <td>{{ row_nova.date }}</td>
      <td>{{ row_nova.county }}</td>
      <td>{{ row_nova.numconfirmed }}</td>
      <td>{{ row_nova.numdeaths }}</td>
      <td>{{ row_nova.change }}</td>
      <td>{{ row_nova.changedeaths }}</td>
    </tr>
    {% endfor %}
    <tr>

    </tr>
  </table>

</body>
</html>
